.search-container {
 /*  border: 1px solid black; */
  padding: 5px;
  background-color: #3ed948;

  display: flex;
  justify-content: center;
  gap: 5px;
}

#search-location {
  background-color: pink;
  border: 2px solid white;
  padding: 5px;
}

#get-weather-data {
  background-color: pink;
  border: 2px solid white;
  padding: 5px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

#weather-info-container {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #ac9d88;
  height: min(100vh);

  display: flex;
  flex-direction: row;
  gap: 10px;
}

#location-container {
  border: 2px solid green;
  padding: 5px;
  background-color: #3ed948;

  flex: 0 1 auto;
  align-self: center;

  color: #532314;
  font-weight: 900;
  font-size: 18px;;
}

#info-container {
  border: 3px solid green;
  padding: 4px;
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "main main main"
    "main2 main2 main2"
    "main3 main3 main3";
  /* column-gap: 0px; */
  /* row-gap: 8px; */
  gap: 8px 0px;
}

#info-container > div:not(.top-table) {
  border: 1px dashed green;
  text-align: center;
  padding: 4px;
  background-color: pink;

  display: flex;
  align-items: center;
  justify-content: center;
}

#temp,
#conditions,
#datetime {
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Pacifico";
  border: none;
  background-color: #3ed948;
  color: white;
  /* color: #09112de5; */

  display: flex;
  align-items: center;
  justify-content: center;
}

#temp {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#conditions {
  grid-area: main2;
}

#datetime {
  grid-area: main3;
}

#global-loading {
     position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}
