#descriptions {
  border: none;
  box-shadow: 1px 1px 3px 2px gray;
  text-align: center;
  width: 70%;
  padding: 10px;
  color: rgb(149, 47, 47);
  margin: 0 auto;
}

#add-boxes,
#to-randomize-color {
  display: block;
  margin: 10px auto 10px auto;
  padding: 6px;
  border-radius: 6px;
  border: none;
  box-shadow: 3px 3px 10px 1px;
}

.clicked {
  box-shadow: none;
  background-color: rgb(49, 134, 89);
  color: white;
}
