#grid-container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
}

#descriptions {
  border: none;
  box-shadow: 1px 1px 3px 2px gray;
  text-align: center;
  width: 50%;
  padding: 10px;
  color: rgb(120, 41, 41);
  margin: 0 auto;
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  #descriptions {
    font-size: 13px;
  }
}
#description-button,
#add-boxes,
#to-randomize-color,
#make-darker {
  display: block;
  margin: 10px auto 10px auto;
  padding: 6px;
  border-radius: 6px;
  border: none;
  box-shadow: 3px 3px 10px 1px;
}

.clicked {
  box-shadow: none;
  background-color: rgb(49, 134, 89);
  color: white;
}
